.logo-form{
    width: 20rem;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#fondo-items {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(244, 244, 228);

}

#botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.boton{
    margin: 10px 0;
    width: 50%;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}