<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor">
    <img class="logo-form" src="https://i.imgur.com/BVgYr5A.jpg" alt="logo local">
      <h2>Datos de contacto</h2>
    <div class="fondo-formulario">
      <ion-input
        class="formulario"
        required
        type="email"
        label="E-Mail"
        label-placement="floating"
        fill="outline"
        placeholder="email@dominio.com"
        [(ngModel)]="correo"
      ></ion-input>

      <ion-input
        class="formulario"
        type="phone"
        required
        label="Numero de telefono"
        label-placement="floating"
        fill="outline"
        placeholder="Ingrese su telefono"
        [(ngModel)]="telefono"
      ></ion-input>
    </div>

    <ion-button class="boton" (click)="formulario()">
      Confirmar compra
    </ion-button>
  </div>
</ion-content>
