<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <img class="logo-form" src="https://i.imgur.com/BVgYr5A.jpg" alt="icono tienda">
  <div>
    <h1>Inicio de sesión</h1>
    <p>Ingresa tus datos para acceder</p>
  </div>
  <div class="ion-text start">
    <ion-input label="Correo" label-placement="floating" type="email" fill="outline" placeholder="Correo electronico">
    </ion-input>
    <br>
    <ion-input label="Contraseña" label-placement="floating" type="password" fill="outline" placeholder="Contraseña">
    </ion-input>
    <br>
    <ion-button expand="block" color="primary">Ingresar</ion-button>
  </div>
  <div>
    <p>¿No tienes una cuenta?</p>
    <ion-button [routerLink]="['/signin']" expand="block" color="primary">Crear cuenta</ion-button>
  </div>
</ion-content>
