<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <img src="" alt="icono tienda" class="logo">
  <div>
    <h1>Inicio de sesión</h1>
    <p>Ingresa tus datos para acceder</p>
  </div>
  <div class="ion-text start">
    <ion-input label="Correo" label-placement="floating" type="email" fill="outline" placeholder="Correo electronico">
    </ion-input>
    <br>
    <ion-input label="Contraseña" label-placement="floating" type="password" fill="outline" placeholder="Contraseña">
    </ion-input>
    <br>
    <ion-button expand="block" color="primary">Ingresar</ion-button>
  </div>
  <div>
    <a href="#">¿No tienes una cuenta?</a>
    <ion-button expand="block" color="primary">Crear cuenta</ion-button>
  </div>
</ion-content>
