<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <img src="/src/assets/img/logo.png" alt="icono tienda" class="logo">
  <div>
    <h1>Registro de cuenta</h1>
    <p>Ingresa tus datos para Crear una cuenta</p>
  </div>
  <div class="ion-text start">
    <ion-input label="Correo" label-placement="floating" type="email" fill="outline" placeholder="Correo electronico">
    </ion-input>
    <br>
    <ion-input label="Contraseña" label-placement="floating" type="password" fill="outline" placeholder="Contraseña">
    </ion-input>
    <br>
    <ion-input label="Repetir Contraseña" label-placement="floating" type="password" fill="outline" placeholder="Contraseña">
    </ion-input>
    <br>
    <ion-button expand="block" color="primary">Ingresar</ion-button>
  </div>
</ion-content>
