.logo-form{
    width: 15rem;
}
ion-content {
    --background: #205769;
}
ion-input {
    border: 2px solid #fffefe;
    font-size: 16px;
}

.submit-button {
    background-color: #3788AA;
    border: 2px solid #3788AA;
    border-radius: 4px;
    color: #fff;
    margin-top: 20px;
}
